body{
    margin:0;
    position: relative;
    right: 0%;
    left: 0%;
}

.container{
    font-size: 25px;
    text-align:center;
    background-color: #f4f4f4;
}

h1 {
    padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
    color: #494949;/*文字色*/
    background: #f4f4f4;/*背景色*/
    border-left: solid 5px #7db4e6;/*左線*/
    border-bottom: solid 3px #d7d7d7;/*下線*/
    box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
}





h2 {
    position: relative;
    border-left: 6px solid #ccc;
    padding: 10px;
    color: #000;
    }
    
    h2::before {
    position: absolute;
    left: -6px;
    bottom: 0;
    content: '';
    width: 6px;
    height: 50%;
    background-color: #7db4e6;
    }
    
    h2::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width: 100%;
    height: 0;
    border-bottom: 1px solid #7db4e6;
    }


.all_{
    text-align:center;
}
.cp_iptxt {
	position: relative;
    left: 60px;
	width: 80%;
	margin: 40px 3%;
}
.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: none;
	border-bottom: 2px solid #1b2538;
	background: transparent;
}
.ef input[type='text']:focus {
	border-bottom: 2px solid #da3c41;
	outline: none;
}

.check{
    text-decoration: underline #afeeee dotted 4px;
    text-underline-offset: 0.5em;
    position: relative;

}



.all{
    background-color:#f4f4f4;
    height:auto;
    width: auto;
    border: 2px solid #afeeee;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
}

button,
input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
}

.submit {
    display       : inline-block;
    border-radius : 20%;          /* 角丸       */
    font-size     : 18pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 12px;   /* 余白       */
    background    : #b0e0e6;     /* 背景色     */
    color         : #00007f;     /* 文字色     */
    line-height   : 1em;         /* 1行の高さ  */
    opacity       : 0.9;         /* 透明度     */
    transition    : .3s;         /* なめらか変化 */
    box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
    position: relative;
    top: auto;
}
.submit:hover {
    box-shadow    : none;        /* カーソル時の影消去 */
    opacity       : 1;           /* カーソル時透明度 */
}
input[type="checkbox"]{
    position: relative;
    appearance: none;
    width: 100px;
    height: 50px;
    background: #ccc;
    border-radius: 50px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.4s;
    
}
input:checked[type="checkbox"]{
    background: #7da6ff;
}
input[type="checkbox"]::after{
    position:absolute;
    content: "";
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    transition: 0.4s;
}
input:checked[type="checkbox"]::after{
    left: 50%;
}
.text{
    margin-top: auto;
    font-size: 32px;
}
.check{
    text-align: center;
}
.checkbox{
    position: relative;
    left: 45vw;
    width: fit-content;
}
.submit{
    position: relative;
    left: 47%;
}
label{
    line-height: 2em
}
input{vertical-align: middle;}